.calculator-frame {
    border: solid 2px #000000;
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

h1{
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.menu {
    font-weight: 900;
    border: none;
    background: none;
    color: #000000;
}

.display {
    border: solid 2px #6f38f0;
    height: 80px;
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.btns {
    border: solid 2px #010121;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    background-color: #010121;
}

.operator {
    background-color: white;
    color: rgb(0, 0, 0)
}

button {
    margin: 6px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 20px;
    border-width: 0px;
    color: white;
    background-color: #010121;
}

.btn {
    border-radius: 50%;
}

.equal-sign {
    width: 151px;
    border-radius: 12px;
    background-color: #ff7300;
}

